$main-color: #ffb94a;
$main-color-2: #ffb94a52;
$main-color-3: #fff8ed;
$primary-color: #050816;
$secondary-color: #aaa6c3;
$tertiary-color: #151030;
$black-100: #100d25;
$black-200: #090325;
$white-100: #f3f3f3;
$violet-1: #915eff;
$violet2: #915eff;
$dark-smooth: #050505;
$dark-smooth-hover: #181616;
$grey-smooth: #c0c0c0;
$grey-smooth-2: #646060;
$grey-smooth-3: #383636;
$grey-smooth-4: #ebe6e6;
$grey-smooth-5: #f2f1f6;
$grey-smooth-6: #faf9fa;
$grey-smooth-7: #c9c9c9d7;
$white-smooth: #fcfcfc;
$white-smooth-2: #f3f4ee;
$white-smooth-3: #d1d2d0;
$white-smooth-4: #f5f5f5;
$white-smooth-hover: #f4f4ef;
$gold-main: #d4af37;
$red-main: #e31e24;
$red-main2: #ff0008;
$blue-main: #ffd700;
$blue: #6f42c1;
$blue: #6f42c1;
$green: #228b22;
$green2: #d35400;
$green3: #4ec0ed;
$green4: #addff3;
$green5: #1e3a5f;
$green6: #2e2e2e;
$green7: #004d40;
$green8: #2c3e50;
$green9: #006d6f;
$green10: #004e64;
$dark-gray: #333333;
$gray-gray: #3b3b3b;
$main-gray: #4b4b4b;
$light-gray: #c0c0c0;
// $green2: #87ceeb;
// $green2: #98dbc6;
$green2T: #32cd32;
$blue-2: #a17ee1;
$orange: #fd7e14;
$elegant-dark-blue: #0a1e3d;
$elegant-dark-blue-2: #1c427b25;
$elegant-dark-blue-3: #1c427b74;
$bgGray: #f2f1f6;
$blue-after: #5b96ac;
$blue-after-nav: #46b5dd;
$new-red: #f8333c;
$new-black: #171a21;

$light-blue-gradient: linear-gradient(
  to left bottom,
  rgba(144, 238, 144, 0.4),
  rgba(34, 139, 34, 0.717)
);
$light-blue-gradient-solid: linear-gradient(
  to left bottom,
  rgba(255, 182, 193, 0.4),
  rgba(255, 105, 180, 0.717)
);
$blue-gradient-solid: linear-gradient(
  to left bottom,
  rgba(144, 238, 144, 0.4),
  rgba(34, 139, 34, 0.717)
);
$blue-gradient-solid2: linear-gradient(
  to left bottom,
  rgba(135, 206, 235, 0.4),
  rgba(70, 130, 180, 0.717)
);

$dark-slate-gray: linear-gradient(
  to right bottom,
  rgba(192, 192, 192, 0.3),
  rgba(54, 69, 79, 0.6)
);

$card-shadow: 0px 15px 50px -25px $main-color;

$red-deep: #1a0202;
$red-glow: rgba(227, 30, 36, 0.4);

$red-bright: #ff0000;
$red-dark: #8b0000;
$carbon: #111111;
$glass: rgba(15, 15, 15, 0.85);
